.footer{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0,0.3);
}
.footer .footer_inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
.footer_inner .footer_nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.footer_nav ul li{
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
    color: rgb(55, 55, 55);
}
.footer_inner .footer_social ul {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.footer_inner .footer_social ul li i{
    font-size: 18px;
    color: rgb(55, 55, 55);
}
.footer_inner .copyright p{
    color: rgb(55, 55, 55);

}